{% extends 'base.html' %}
{% block content %}


<div class="profile-card">
  <div class="profile-top">
    {% if profile.profile_pic %}
      <img src="{{ profile.profile_pic.url }}"
           class="avatar-lg" alt="Profile">
    {% else %}
      <div class="avatar-lg-placeholder">
        {{ request.user.username|first|upper }}
      </div>
    {% endif %}
    <div class="profile-info">
      <h2>{{ request.user.username }}</h2>
      <p class="univ-label">
        🎓 {{ profile.get_university_display|default:"University not set" }}
      </p>
      {% if profile.location %}
        <p>📍 {{ profile.location }}</p>
      {% endif %}
      {% if profile.phone %}
        <p>📞 {{ profile.phone }}</p>
      {% endif %}
      <p>📦 {{ profile.get_total_items }} items posted</p>
      {% if profile.get_average_rating %}
        <p>⭐ {{ profile.get_average_rating }} avg rating</p>
      {% endif %}
    </div>
  </div>

  {% if profile.bio %}
  <div class="bio-block">
    <h4>About Me</h4>
    <p>{{ profile.bio }}</p>
  </div>
  {% endif %}

  <div class="profile-btns">
    <a href="/user/profile/edit/" class="btn">✏️ Edit Profile</a>
    <a href="/dashboard/" class="btn outline">📊 Dashboard</a>
  </div>
</div>

{% endblock %}